<ul>
  <li class="home">后台菜单项</li>
  <li class="tour">景点配置才当项</li>
</ul>

<script>
  var index = 1
  
  // 以下方式直接是重新请求页面
  //  $(".home").click(eve => {
  //   index ++
  //   location.replace('http://localhost:5000/admin/home')
  // })
  // $(".tour").click(eve => {
  //   index ++
  //   location.replace('http://localhost:5000/admin/tour')
  // })

  // $(".home").click(eve => {
  //   index ++
  //   console.log(123)
  //   $.ajax({
  //     url: '/admin/home'
  //   })
  // })
  // $(".tour").click(eve => {
  //   index ++
  //   console.log(123)
  //   $.ajax({
  //     url: '/admin/tour',
  //     success () {
  //     }
  //   })
  // })
</script>