
<div class="layui-row layui-col-space5">
  <div class="layui-col-md24">
    <h1 class="system-title">贴心小导游网后台还礼系统</h1>
  </div>
  <div class="layui-col-md2" style="background:#ddd">
    {{> backend-menu}}
  </div>
  <div class="layui-col-md22" style="background:#eee">
    
  </div>
</div>

<script>
   $(".home").click(eve => {
    index ++
    $('.home').css({"background": "blue"})
  })
  $(".tour").click(eve => {
    index ++
    console.log(456)
  })
</script>