<h3>管理员权限管理</h3>
按照 grade 来进行分类，可以编辑每种grade的权限
grade展示（等级、拥有的菜单权限）
编辑某个grade拥有的权限 （超级管理员的权限无法编辑）
不能新增和删除
<p><b>管理员等级分为三级</b></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;根管理员：grade=0 拥有所有后台菜单权限。只有一个，不可编辑也不可删除。可以新增超级管理员和普通管理员</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;超级管理员：grade=1 拥有所有后台菜单权限。可以有多个，自己可以编辑自己，但不能删除或者新增同级管理员。可以新增、修改、编辑普通管理员账号</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;普通管理员：grade=2 默认仅拥有网站相关、景点管理和会员管理三个菜单选项的权限。普通管理员再对景点进行新增、删除和修改操作后，还要经过超级管理员/根管理员同意之后，修改才能生效</p>
{{> backend-script}}
<script type="text/javascript">

</script>