<div style="text-align: center">
  <h3>邮件定制列表</h3>
  <div>此页面展示定制的邮箱，只能删除. <span style="color:#888;font-size:12px">（页面逻辑跟其它查询和删除逻辑差不多，就不做了）</span></div>
  <div>每当有新增景点的时候都会发送邮件给这些用户 <span  style="color:#888;font-size:12px">（请看新增景点部分后台逻辑）</span></div>
</div>
{{> backend-script}}
<script type="text/javascript">

</script>