<div style="text-align: center">
  <h3>系统错误日志</h3>
  <div>此页面用于展示用户在想服务请求数据发生错误时，就会将错误保存到数据库error-log<br>
      只能删除，每条错误日志都有一个状态用于标记是否已解决<span style="color:#888;font-size:12px">（页面逻辑跟系统日志页面逻辑一致，就不做了）</span></div>
</div>
{{> backend-script}}
<script type="text/javascript">

</script>